<footer class='footer'>
	<div class='container'>
		<section class='footer-grid'>
			<div class='footer-cell _logo'>
				<a href='' class='logo'>
					<img src='/img/logo-a.svg' alt='Лого' />
				</a>
			</div>
			<div class='footer-cell'>
				<div class='footer-links'>
					<div class='footer-linksGrid'>
						<a class='footer-link' href=''>Пользователькое соглашение</a>
						<a class='footer-link' href=''>Лицензионное соглашение</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</footer>
