<header class='header'>
	<section class='header-content'>
		<div class='header-grid'>
			<div class='header-cell _logo'>
				<div class='header-logo'>
					<div class='header-logoContainer'>
						<div class='header-logoGrid'>
							<a href='/' class='logo'>
								<img src='./img/logo.svg' alt='Лого' />
							</a>
							<div class='header-expand'>
								<button type='button' class='menuExpand' data-active='this, .header, body' >
									<div class='menuExpand-inner'>
										<span class='menuExpand-bar _1'></span>
										<span class='menuExpand-bar _2'></span>
										<span class='menuExpand-bar _3'></span>
									</div>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='header-cell _nav'>
				<nav class='header-nav'>
					<div class='header-navContainer'>
						<ul class='header-navGrid'>
							<li class='header-navCell'>
								<a class='header-navLink _current'>
									Авторский контент
								</a>
							</li>
							<li class='header-navCell'>
								<a href='' class='header-navLink'>
									Медитации
								</a>
							</li>
							<li class='header-navCell'>
								<a href='' class='header-navLink'>
									Помощь
								</a>
							</li>
							<li class='header-navCell'>
								<a href='' class='header-navLink'>
									Тарифы
								</a>
							</li>
							<li class='header-navCell _button'>
								<a href='' class='btn'>
									Войти
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</section>
</header>
