// media for text size change
@m: @md;

@colors: {
	text: #222B45;
	accent: #26345A;
	accent2: #8F9BB3;
	white: #fff;
	black:  #000;
	active: #551A8B;
	line: #EDF1F7;
	pink: #FFAEAD;
	green: #85A090;
}

// transition-time
@tt: .2s;

// font-family
@ff: Nunito;

body {
	.p();
	font-family: @ff;
	color: @colors[text];
}

// texts
.h1 {
	font-weight: bold;
	font-size: 26px;
	line-height: 35px;
	margin-bottom: 20px;
	
	@media (@m) {
		font-size: 36px;
		line-height: 50px;
	}
}

.h2 {
	font-weight: bold;
	font-size: 22px;
	line-height: 32px;
	
	@media (@m) {
		font-size: 32px;
		line-height: 40px;
	}
}

.h3 {
	font-weight: bold;
	font-size: 22px;
	line-height: 32px;
}

.h4 {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.h5 {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}

.s1 {
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	
	@media (@m) {
		font-size: 20px;
		line-height: 30px;
	}
}

.p {
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	
	
	@media @m {
		font-size: 16px;
		line-height: 22px;
	}
}

.l {
	font-weight: bold;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	
	@media (@m) {
		font-size: 12px;
		line-height: 16px;
	}
}

.link {
	text-decoration: underline;
	border: 2px solid transparent;
	border-radius: 4px;
	
	&:enter {
		border-color: @colors[line];
	}
	&:active {
		color: @colors[active];
	}
	
	// alternative
	&._a {
		&:enter {
			border-color: @colors[pink];
		}
		&:active {
			color: @colors[pink];
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.h5();
	font-family: @ff;
	padding: 10px 40px;
	// color: @colors[text];
	// background-color: @colors[white];
	border: 1px solid @colors[text];
	border-radius: 40px;
	transition: @tt;
	
	// medium size
	&_.m {
		padding: 15px 60px;
	}
	
	&:enter {
		color: @colors[white];
		background-color: @colors[accent];
	}
	&:active {
		background-color: @colors[text];
	}
	
	// alternative
	&._a {
		color: @colors[white];
		background-color: @colors[accent];
		
		&:enter {
			background-color: @colors[text];
		}
		&:active {
			background-color: @colors[black];
		}
	}
}

.menuExpand {
	.square(24px);
	padding: 5px 2px;
	
	&-inner {
		position: relative;
		height: 100%;
	}
	
	&-bar {
		position: absolute;
		height: 2px;
		width: 100%;
		background: @colors[text];
		border-radius: 1px;
		transition: @tt;
		
		&._1 {
			top: 0
		}
		&._2 {
			top: 50%;
			transform: translateY(-50%);
		}
		&._3 {
			bottom: 0;
		}
	}
	
	&._active &-bar {
		&._1 {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
		&._2 {
			opacity: 0;
		}
		&._3 {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}
