.accountSubscription {
	.section();
	
	&-grid {
		.grid();
	}
	
	&-cell {
		&._card {
			.cell(12);
		}
		&._settings {
			margin-left: auto;
		}
	}
	
	&-header {
		.h3();
	}
	
	&-card {
		padding: 20px;
		border: 1px solid @colors[line];
	}
	
	&-cardGrid {
		.grid();
		justify-content: space-between;
	}
	
	&-cardCell {
		&._content {
			.cell(12);
		}
		&._btn {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	&-content {
		display: flex;
	}
	
	&-contentGrid {
		.grid();
	}
	
	&-label {
		.l();
		color: @colors[accent2];
		margin-bottom: 10px;
	}
	
	&-value {
		.s1();
	}
	
	&-settings {
		display: flex;
		align-items: center;
		.h5();
		color: @colors[accent2];
		margin-top: auto;
		margin-bottom: 8px;
		
		&::before {
			content: '';
			.square(24px);
			background-image: svg-load('settings.svg');
			margin-right: 5px;
		}
	}
	
	@media (@lgx) {
		&-cell {
			&._settings {
				order: 1;
				margin-left: 0;
			}
		}
		
		&-contentCell {
			.cell(12);
		}
	}
	
	@media (@lg) {
		padding: 40px 30px;
		
		&-header {
			.h2();
		}
		
		&-card {
			padding: 40px 30px;
		}
		
		&-cardCell {
			&._content {
				.cell();
			}
			&._btn {
				.cell(3);
				align-self: center;
			}
		}
	}
}
