.contentList {
	.section();
	
	&-title {
		max-width: 540px;
		margin-bottom: 30px;
	}
	
	&-subTitle {
		margin-top: 5px;
		margin-bottom: 23px;
	}
	
	&-subTitleGrid {
		.grid(11px);
		justify-content: space-between;
		align-items: center;
	}
	
	&-subTitleH {
		.h4();
	}
	
	&-grid {
		.grid();
	}
	
	@media (@xlx) {
		&-content {
			overflow-y: hidden;
			overflow-x: auto;
			padding-bottom: 15px;
			margin-bottom: -15px;
		}
		
		&-grid {
			flex-wrap: nowrap;
			margin-right: 0;
		}
		
		&-cell:last-child {
			padding-right: 0;
		}
	}
	
	@media (@sm) {
		&-subTitleGrid {
			justify-content: flex-start;
		}
	}
	
	@media (@xl) {
		&:not(:last-child) {
			padding-bottom: 70px;
		}
		
		&-subTitle {
			margin-top: 20px;
			margin-bottom: 30px;
		}
		
		&-subTitleH {
			font-size: 22px;
			line-height: 32px;
		}
	}
}
