.contentCard {
	flex-grow: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 255px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
	
	&._promo,
	&._empty {
		box-shadow: none;
	}
	
	&-header {
		display: flex;
		margin-bottom: 15px;
	}
	
	&-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: 20px 20px 30px;
	}
	
	&-body {
		display: flex;
		flex-direction: column;
		.p2();
	}
	
	&-footer {
		margin-top: auto;
		
		.btn {
			margin-top: 20px;
			width: 100%;
		}
	}
	
	&-author {
		.l2();
		color: @colors[accent2];
		margin-top: 10px;
	}
	
	&-played {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	&-promo {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 70px 20px;
		padding-right: 34px;
		
		&._blue {
			background: @colors[line] url('/img/promocard-blue.png') center / cover;
		}
		&._red {
			background: #FBF4F2 url('/img/promocard-red.png') center / cover;
		}
		
		.h3 {
			margin-bottom: 15px;
		}
	}
	
	&-empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 255px;
		text-align: center;
		color: @colors[accent2];
		padding: 38px;
		border: 1px dashed @colors[accent2];
		
		&::before {
			.ifnt(plus);
			font-size: 40px;
			margin-bottom: 10px;
		}
	}
	
	.player {
		&-play {
			flex-shrink: 0;
			align-self: flex-start;
			.square(38px);
			margin-right: 10px;
		}
		
		&-timePlayed {
			height: 4px;
		}
	}
	
	@media (@lg) {
		&-empty {
			padding: 20px;
		}
	}
}
