.player {
	padding-bottom: 50px;
	
	&._replay {
		.player-controls {
			display: none;
		}
	}
	
	&:not(._replay) {
		.player-replay {
			display: none;
		}
	}
	
	&._promo .player {
		&-inner {
			position: relative;
			padding-bottom: 110px;
			
			&::before {
				content: '';
				position: absolute;
				top: 140px;right: 0;left: 0;bottom: 0;
				background-image: svg-load('promo-bg_r.svg');
				background-size: 100% 100%;
				// background-position-y: 140px;
				z-index: -1;
			}
		}
	}
	
	&._full .player {
		&-outer {
			padding-top: 8px;
			padding-bottom: 8px;
			background-color: @colors[line];
		}
		
		&-grid {
			flex-wrap: nowrap;
			justify-content: center;
		}
		
		&-cell {
			&._content {
				max-width: none;
			}
			
			&._meta {
				align-self: center;
				flex: 1 1 0;
				overflow: hidden;
				margin-right: -18px;
			}
		}
		
		&-meta {
			display: flex;
			align-items: center;
			padding-right: 12px;
		}
		
		&-cover {
			.square(32px);
			margin-right: 12px;
		}
		
		&-title {
			max-width: 100%;
			flex: 1 1 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
		}
		
		&-content {
			padding: 0;
			justify-content: center;
		}
		
		&-footer {
			margin-top: 0;
		}
		
		&-btn {
			align-self: center;
			.square(24px);
		}
		
		&-play {
			background-image: svg-load('play-small.svg');
			margin-right: 8px;
		}
		&-volumeBtn {
			background-image: svg-load('volume-small.svg');
		}
		&-forward {
			background-image: svg-load('forward-small.svg');
			margin-right: 12px;
		}
		&-back {
			background-image: svg-load('back-small.svg');
			margin-right: 8px;
		}
		
		&-volume,
		&-time {
			padding-bottom: 0;
		}
		
		&-timeLine,
		&-volumeLine {
			height: 4px;
		}
		
		&-timePoint {
			width: 10px;
			height: 10px;
		}
	}
	
	&-inner {
		.container();
	}
	
	&-grid {
		.grid(15px, 9px);
	}
	
	.cover {
		max-width: 290px;
	}
	
	&-cell {
		.cell(12);
		
		&._img {
			justify-content: center;
			align-items: center;
		}
	}
	
	&-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	
	&-header {
		margin-bottom: 10px;
	}
	
	&-body {
		margin-bottom: 24px;
	}
	
	&-footer {
		margin-top: auto;
	}
	
	&-description {
		.p1();
	}
	
	&-controls {
		display: flex;
	}
	
	&-btn {
		font-size: 0;
	}
	
	&-play,
	&-replayBtn {
		flex-shrink: 0;
		.circle(60px);
		margin-right: 15px;
	}
	
	&-play {
		background-image: svg-load('play.svg');
	}
	
	&-replayBtn {
		background-image: svg-load('replay.svg');
	}
	
	&-time {
		flex-grow: 1;
		align-self: flex-end;
		padding-bottom: 18px;
	}
	
	&-timeValues {
		display: flex;
		justify-content: space-between;
		font-size: 10px;
		line-height: 16px;
		letter-spacing: 0.02em;
		margin-bottom: 8px;
	}
	
	&-timeLine {
		height: 6px;
		background: rgb(@colors[accent2], 0.2);
		border-radius: 4px;
		cursor: pointer;
	}
	
	&-timePlayed {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		background: @colors[accent];
		border-radius: 4px;
	}
	
	&-timePoint {
		.circle(14px);
		background: @colors[accent];
		// transform: translateX(50%);
	}
	
	&-replay {
		display: flex;
		align-items: center;
	}
	
	&-volume {
		display: flex;
		align-items: center;
		padding-bottom: 6px;
	}
	
	&-volumeBtn {
		flex-shrink: 0;
		.square(32px);
		background-image: svg-load('volume.svg');
		margin-right: 5px;
	}
	
	&-volumeLine {
		flex-grow: 1;
		height: 6px;
		background: rgb(@colors[accent2], 0.2);
		border-radius: 4px;
		cursor: pointer;
	}
	
	&-volumeLevel {
		height: 100%;
		background: @colors[accent];
		border-radius: 4px;
	}
	
	@media (@lgx) {
		.player-cell {
			&._volume {
				display: none;
			}
		}
		
		&._full {
			.player {
				&-cell {
					&._meta {
						display: none;
					}
					
					&._content {
						overflow: hidden;
					}
				}
				
				&-back,
				&-forward {
					display: none;
				}
				
				&-time {
					padding-bottom: 4px;
					overflow: hidden;
				}
				
				&-timeCurrent {
					flex-shrink: 0;
					margin-left: 32px;
				}
				
				&-timeTotal {
					display: none;
				}
				
				&-timeValues {
					margin-bottom: 2px;
				}
				
				&-microtitle {
					flex: 1 1 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	
	@media (@lg) {
		padding-bottom: 70px;
		
		&-container {
			.container();
		}
		
		&-inner {
			padding: 0;
		}
		
		&-cell {
			&._img {
				.cell(3);
			}
			&._content {
				.cell(6);
			}
			&._volume {
				.cell(2);
				justify-content: flex-end;
			}
		}
		
		&-content {
			padding: 30px 0;
		}
		
		&-timeValues {
			font-size: 12px;
		}
		
		&-play {
			margin-right: 25px;
		}
		
		&-body {
			margin-bottom: 34px;
		}
		
		&._promo {
			padding-top: 35px;
			padding-bottom: 130px;
			
			.player {
				&-inner {
					padding-bottom: 0;
					
					&::before {
						top: -10px;
						bottom: -10px;
					}
				}
				
				&-content {
					padding: 60px 0;
				}
				
				&-cell._img {
					flex-basis: 320px;
					max-width: 320px;
				}
				
				&-header {
					margin-bottom: 15px;
				}
				
				&-timeLine,
				&-volumeLine {
					background-color: #E4C5BC;
				}
			}
		}
		
		&._full .player {
			&-time {
				align-self: center;
				position: relative;
			}
			
			&-timeLine {
				margin-left: 46px;
				margin-right: 46px;
			}
			
			&-timeValues {
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				margin-bottom: 0;
				transform: translate(0, -50%);
			}
			
			&-microtitle {
				display: none;
			}
		}
		
	}
}
