.topSection {
	.section();
	
	&-title {
		font-weight: bold;
		font-size: 48px;
		line-height: 55px;
	}
	
	&-content {
		height: 500px;
		padding-top: 120px;
		background: #FBF4F2 no-repeat bottom center;
		
		&._subscriptions {
			background-image: url(/img/subscriptions-p.svg);
		}
		&._content {
			background-image: url(/img/content-p.svg);
		}
		&._faq {
			background-image: url(/img/faq-p.svg);
		}
		&._meditations {
			background-image: url(/img/meditations-p.svg);
		}
	}
	
	@media (@xl) {
		&-content {
			padding-top: 330px;
			background-position-x: right;
			
			&._subscriptions {
				background-image: url(/img/subscriptions-p_lg.svg);
			}
			&._content {
				background-image: url(/img/content-p_lg.svg);
			}
			&._faq {
				background-image: url(/img/faq-p_lg.svg);
			}
			&._meditations {
				background-image: url(/img/meditations-p_lg.svg);
			}
		}
	}
}
