.topSection {
	.section();
	
	&-title {
		font-weight: bold;
		font-size: 48px;
		line-height: 55px;
	}
	
	&-content {
		height: 500px;
		padding-top: 120px;
		background: #FBF4F2 no-repeat bottom center;
		
		&._subscriptions {
			background-image: url(/img/subscriptions-p.svg);
		}
		&._content {
			background-image: url(/img/content-p.svg);
		}
		&._faq {
			background-image: url(/img/faq-p.svg);
		}
		&._meditations {
			background-image: url(/img/meditations-p.svg);
		}
		&._account {
			background-image: url(/img/account-p.svg);
			background-size: auto 100%;
		}
		&._index {
			height: 750px;
			padding-top: 240px;
			background-image: url(/img/index-p_lg.svg);
			
			.topSection-container {
				display: flex;
				flex-direction: column;
				max-width: 485px;
				
				.btn {
					margin-top: 30px;
					
					@media (@sm) {
						max-width: 255px;
					}
				}
			}
			
			@media (@mdx) {
				height: 590px;
				padding-top: 160px;
				background-image: url(/img/index-p.svg);
				// background-size: cover;
			}
		}
	}
	
	@media (@xl) {
		&-content {
			padding-top: 330px;
			
			&._subscriptions {
				background-image: url(/img/subscriptions-p_lg.svg);
			}
			&._content {
				background-image: url(/img/content-p_lg.svg);
			}
			&._faq {
				background-image: url(/img/faq-p_lg.svg);
			}
			&._meditations {
				background-image: url(/img/meditations-p_lg.svg);
			}
			&._account {
				background-image: url(/img/account-p_lg.svg);
			}
		}
	}
}
