@@if (typeof empty === 'undefined') {
	<article class='contentCard'>
		<div class='contentCard-img'>
			@@if (typeof tag === 'string') {
				<div class='contentCard-tag'>
					<div class='tag'>@@tag</div>
				</div>
			}
			<img src='/img/contentCard.png' alt='Обложка' />
		</div>
		<div class='contentCard-content'>
			<header class='contentCard-header'>
				@@if (typeof player === 'undefined') {
					<h3 class='h4'>@@h</h3>
				}
				@@if (typeof player !== 'undefined') {
					<button type='button' class='player-play'>Play</button>
					<h3 class='h4'>@@h</h3>
				}
			</header>
			<div class='contentCard-body'>
				@@body
			</div>
			<footer class='contentCard-footer'>
				@@if (typeof footer === 'string') {
					@@if (footer !== 'subscribe') {
						<div class='contentCard-author'>@@footer</div>
					}
					@@if (footer === 'subscribe') {
						<button type='button' class='btn'>Подписаться</button>
					}
				}
				@@if (typeof played !== 'undefined') {
					<div class='contentCard-played'>
						<div class='player-time'>
							<div class='player-played' style='width:  @@played'></div>
						</div>
					</div>
				}
			</footer>
		</div>
	</article>
}

@@if (typeof empty === 'string') {
	@@if (empty === 'promo') {
		<article class='contentCard _promo'>
			<div class='contentCard-promo @@promo'>
				<h3 class='h3'>
					@@if (promo === '_red') {
						Откройте доступ
						к медитациям, которые изменят твою жизнь.
					}
					@@if (promo === '_blue') {
						Скидка до 40% на бесконечный доступ к медитациям, расслабляющей музыке и другому контенту.
					}
				</h3>
				<button type='button' class='btn'>
					@@if (promo === '_red') {
						К медитациям
					}
					@@if (promo === '_blue') {
						Получить
					}
				</button>
			</div>
		</article>
	}
	
	@@if (empty !== 'promo') {
		<article class='contentCard _empty'>
			<div class='contentCard-empty'>
				<h3 class='h4'>
					@@empty
				</h3>
			</div>
		</article>
	}
}
